/* your styles go here */
/*
table {
	border:none;
	font-size: 12px;
}

td{
	border:none;
	padding: 5px;
}

table.data {
	border: 1px solid #dcdcdc; 
	margin: 10px 0px 20px 0px; 
	width: 97%; 
	border-collapse: collapse;
	font-size: 12px;
}

th.data {
	padding: 8px 4px 8px 4px;
	border: 1px solid #dcdcdc;
	background: url(img/green.jpg)repeat left center;
	text-shadow: 1px 0px #003362;
	color: #fff;
}

td.data {
	padding: 4px;
	border: 1px solid #dcdcdc;
	color: #5b5b5b;
	vertical-align: top;
}

tr.data {
	background: #fff
}

tr.data:hover {
	background: #feffdc;
}

tr.data small a{
	color: #fff;
}

tr.data small{
	color: #fff;
}

tr.data:hover small a{
	color: #527e19;
}

tr.data:hover small a:hover{
	color: #000;
}

tr.data:hover small {
	color: #5b5b5b;
}*/

form.error {
	color:#F00;
	font-size:12px;
}